<div class="screen gradient-background">
  <div class="message-container">

    <div class="message-content">

      <div class="avatar-lg">
      </div>

      <div class="message-text">
      </div>

    </div>

  </div>
</div>

