// Import Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto:300,300i,400,700");

// Define fonts for body and headers
$body-font: "Roboto 300", "Helvetica", "sans-serif";
$headers-font: "Roboto", "Helvetica", "sans-serif";

h1 {
  color: white;
}

h3 {
  color: white;
  letter-spacing: 25%;
}
// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
