<div class="orbit">
  <div class="outer-circle">
    <div class="profile-button">
    </div>
    <div class="profile-button">
    </div>
    <div class="profile-button">
    </div>

    <div class="inner-circle">
      <div class="profile-button">
      </div>
      <div class="profile-button">
      </div>
      <div class="profile-button">
      </div>
    </div>
  </div>
</div>
