<div class="page-content">
  <div class="profile-photo" style="background-image: linear-gradient(rgba(0,0,0,0), #49287F), url('http://res.cloudinary.com/dmyu0qotf/image/upload/v1552059610/avzow2sowlqwhxzy9ccz.jpg');">
    <div class="profile-photo-gradient"></div>
  </div>

</div>
