<div class="page-content">
  <div class="profile-photo" style="background-image: url('http://res.cloudinary.com/dmyu0qotf/image/upload/v1552059610/avzow2sowlqwhxzy9ccz.jpg');">
    <div class="profile-photo-gradient">
    </div>
    <div class="profile-details">
      <h1 class="profile-name"><%= @user.full_name %></h1>
      <h3 class="profile-tagline">come poke me</h3>
    </div>
  </div>
  <div class="profile-qs">
    <% @user.profile_questions.each do |question| %>
      <div class="profile-q">
        <h5 class="question"><%= question.suggestion.content %></h5>
        <h6 class="answer"><%= question.answer %></h6>
      </div>
    <% end %>
  </div>
</div>
