<div class="messages-heading">
  <%= link_to pokes_path, class: "back-btn" do %>
    <i class="fas fa-chevron-left"></i>
  <% end %>
  <h3> Poke </h3>
  <h1> <%= @other_user.first_name %> </h1>
</div>
