<div class="messaging-container">
  <%= render 'poke_suggestions', poke_suggestions: @poke_suggestions %>

  <div class="textfield-container">
    <div class="messaging-form">
      <% if poke.id %>
        <%= render 'message_form', poke: poke, message: message %>
      <% else %>
        <%= render 'poke_form', poke: poke, receiver: receiver %>
      <% end %>
    </div>
  </div>
</div>
