<div class="messaging-container">
  <div class="btn btn-primary btn-inspire">
    Inspire me!
  </div>
  <div class="textfield-container">
    <div class="messaging-form">
      <%= form_for poke do |f| %>
        <%= f.text_field :content, class: "message-content" %>
        <%= f.hidden_field :sender_id, value: current_user.id %>
        <%= f.hidden_field :receiver_id, value: receiver.id %>
      <% end %>
    </div>
  </div>
</div>
