<h1>Pokes#index</h1>
<p>Find me in app/views/pokes/index.html.erb</p>


<div class="poke">
  <img class="avatar-large" src="">
  <div class="poke-name">
    <h3><%= @pokes.first.sender.first_name %></h3>
    <p>10/07/17</p>
  </div>
  <div class="poke-body">
    <p><strong>Poked 30s ago</strong></p>
    <p>
      I am not sure yet! I might be in Shanghai at this moment... Can I tell you later?
    </p>
  </div>
</div>

