<div class="page-content gradient-background messenger">
  <div class="messages-heading">
    <h3>Poke</h3>
    <h1><%= @receiver.first_name %></h1>
  </div>
  <div class="message-container">
      <%= link_to user_path(@receiver) do %>
        <div class="lg-avatar msg-avatar-left avatar-img" style="background-image: url('<%= cl_image_path @receiver.photo %>')">
        </div>
      <% end %>
      <div class="message-text">
        <p> Hit me with your best shot! </p>
      </div>
  </div>
</div>
<%= render 'messaging_container', poke: @poke, receiver: @receiver %>
