<div class="page-content messages-page">
  <div class="pokes-new gradient-background messenger">
    <div class="messages-heading">
      <%= link_to pokes_path, class: "back-btn" do %>
        <i class="fas fa-chevron-left"></i>
      <% end %>
      <h3> Poke </h3>
    </div>
    <div class="message-container">
        <%= link_to user_path(@receiver) do %>
          <div class="lg-avatar msg-avatar-left avatar-img" style="background-image: url('<%= cl_image_path @receiver.photo %>')">
          </div>
        <% end %>
        <div class="message-text">
          <p> Hit me with your best shot! </p>
        </div>
    </div>

  <div class="inspiration-message-container">

    <div class="message-background-one-shot">
       <p> ONE SHOT </p>
    </div>

    <div class="message-inspire">
      <!--  <p>You only have one message.<br>Make it count!</p> -->
    </div>

  </div>

  </div>
  <%= render 'messaging_container', poke: @poke, receiver: @receiver, poke_suggestions: @poke_suggestions
   %>
</div>
<%#= render 'poke_suggestions', poke_suggestions: @poke_suggestions %>
