<% if @poke.status == "accepted" %>
  <%= render "poke_chat_room" %>
<% else %>
  <div class="pokes-show gradient-background">
    <% if @poke.sender == current_user %>
      <%= render "poke_pending" %>
    <% else %>
      <%= render "poke_accept_reject" %>
    <% end %>
  </div>
<% end %>
