<div class="page-content">

<!--   <div class="match_show" style="background-image: url(< 'pulse_poke.png' %>);"> -->
    <!-- < cl_image_tag @poker.photo.url %> -->
    <!-- < cl_image_tag @pokee.photo %> -->


  <div class="container">

      <div class="row position">

        <div class="col-xs-3 col-md-3 col-lg-4">
          <%= cl_image_tag @poker.photo.url, class:"img-circle" %>
        </div>

        <div class="col-xs-3 col-md-3 col-lg-4">
          <%= cl_image_tag("https://res.cloudinary.com/poke-practice/image/upload/v1552558893/240_F_99206372_U48Rwojx56Kd6V93wJuoYcOpux2wbRvw.jpg") %>
        </div>

        <div class="col-xs-3 col-md-3 col-lg-4">
          <%= cl_image_tag @pokee.photo, class:"img-circle" %>
        </div>

      </div>
      <div class="row">

        <div class="col-xs-12 position_statement">
          <h1> Good Shot! Fingers Crossed! We will update you once you get a response to your POKE! </h1>
        </div>

      </div>
  </div>


</div>









