
<div class="navbar-space"></div>
<div class="bottom-fixed">
  <div class="lower-navbar">
    <div class="lower-navbar-strip"></div>
    <div class="lower-navbar-buttons">
      <%= link_to @back_path do %>
        <i class="fas fa-angle-left"></i>
      <% end %>
      <div class="poke-btn"></div>
      <%= link_to user_pokes_path do %>
        <i class="fas fa-comment-alt"></i>
      <% end %>
    </div>
  </div>
</div>

