.bottom-fixed {
  position: fixed;
  bottom: 0;
  width: 100%;

  .lower-navbar {
    position: relative;
    transition: ease 0.3s;

    .lower-navbar-strip {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50px;
      background-color: #f8f9fa;
    }

    .lower-navbar-buttons {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-around;

      .back-btn-container {
        width: 30px;
        display: flex;
        justify-content: space-around;
      }

      // .poke-btn-container {
        // position: relative;
        // width: 64px;
        // height: 64px;

      //   .poke-btn {
      //     position: absolute;
      //     bottom: 8px;
      //     border-radius: 50%;
      //     height: 64px;
      //     width: 64px;
      //     background-color: white;
      //     border: 7px solid $dark-purple;
      //     display: flex;
      //     align-items: center;
      //     justify-content: space-around;

      //     .fas {
      //       color: $dark-purple;
      //     }
      //   }
      // }


      .fas {
        color: $purple;
        font-size: 25px;
      }

      svg {
        color: $purple;
        font-size: 25px;
      }
    }
  }
}

.navbar-space {
  height: 35px;
}
