.edit-questions-bg {
  background-size: cover;
  opacity: 50%;
  background-repeat: no-repeat;
  background-position: top;
  color: white;
  background: linear-gradient(177.13deg, #300773 1.32%, rgba(73, 40, 127, 0.15) 98.68%);
  min-height: calc(100vh - 50px);
}

.edit-questions-container {
  width: 100%;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  .btn {
    font-weight: lighter;
  }
}

.eq-headline {
  text-align: center;
}

.eq-card {
  padding: 20px;
  background: linear-gradient(180deg, $purple 0%, $light-purple 100%);
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin: 10px;
}

.question-to-edit {
  h5 {

  }
  p {

  }
  // .eq-icon {
  //   text-align: right;
  // }
  .fas {
    color: $teal;
    text-shadow: 0px 2px 2px #212529;
  }
}


.modal-body.questionedit {
  background: linear-gradient(180deg, $light-purple 0%, $dark-purple 100%);
  box-shadow: 0px 2px 4px rgba(#6c757d, 18);
  border-radius: 20px;
  color: white;
}

.modal-dialog {}

.modal-content {}

.modal-header {}

.modal-title {}

.close {
  position: absolute !important;
  right: 15px !important;
  top: 4px !important;
  color: white;
}

