// <--------------orbit circles-------------->
.page-content {
  background-color: $light-purple;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.users-index {
  height: 100vh;
  width: 120%;
}

.orbit-container {
  position: relative;
  height: 100vh;
  width: 50vw;
  margin: auto;
}

@media(max-width: 768px) {
  .users-index {
    width: 100%;
  }
}

@media(max-width: 375px) {
  .users-index {
    width: 50%;
  }
}

.outer-circle {
  position: absolute;
  border-radius: 50%;
  width: 500px;
  height: 500px;
  left: -60px;
  top: 156px;
  box-shadow: 0px 0px 10px #FFFFFF;
  background: radial-gradient(300px at 50%, #2E1852 0%, #916AD0 100%);
}

.middle-circle {
  position: absolute;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  // border: .5px solid black;
  left: 35px;
  top: 256px;
  box-shadow: 0px 0px 20px #794EBF;
  // background: radial-gradient(77.43px at 50% 74.19%, #2E1852 0%, rgba(73, 40, 127, 0) 100%);
}

.inner-circle {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  // border: .5px solid black;
  left: 135px;
  top: 356px;
  box-shadow: 0px 0px 20px #2E1852;
}

// <--------------avatar positions-------------->
// <--------------small-------------->
.pos-sm-one {
  position: absolute;
  top: -10px;
  left: 0px;
}

.pos-sm-two {
  position: absolute;
  top: 24px;
  left: 68px;
}

.pos-sm-three {
  position: absolute;
  bottom: -10px;
  left: 3px;
}

// <--------------medium-------------->

.pos-md-one {
  position: absolute;
  top: -15px;
  left: 65px;
}

.pos-md-two {
  position: absolute;
  top: -15px;
  right: 65px;
}

.pos-md-three {
  position: absolute;
  top: 60px;
  right: -15px;
}

.pos-md-four {
  position: absolute;
  bottom: 60px;
  right: -15px;
}

.pos-md-five {
  position: absolute;
  bottom: -15px;
  right: 65px;
}

.pos-md-six {
  position: absolute;
  bottom: -15px;
  left: 65px;
}

.pos-md-seven {
  position: absolute;
  bottom: 60px;
  left: -15px;
}

.pos-md-eight {
  position: absolute;
  top: 60px;
  left: -15px;
}

// <--------------large-------------->

.pos-lg-one {
  position: absolute;
  top: 0px;
  left: 70px;

}

.pos-lg-two {
  position: absolute;
  top: -40px;
  left: 205px;
}

.pos-lg-three {
  position: absolute;
  top: 0px;
  right: 70px;

}

.pos-lg-four {
  position: absolute;
  bottom: -40px;
  left: 205px;

}

.pos-lg-five {
  position: absolute;
  bottom: 0px;
  left: 70px;
}

.pos-lg-six {
  position: absolute;
  bottom: 0px;
  right: 70px;

}

// <--------------writing-------------->
.index-heading {
  position: absolute;
  color: white;
  top: 30px;
  left: 0;
  right: 0;
}

