.match-show {
  display: flex;
}

.img-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 130px;
    align: center;
}

.position {
    display: flex;
    align-content: center;
}

.position_statement {
  margin-top: 20%;
}
