.screen {
  width: 375px;
  height: 812px;
  margin: auto;
}

.poke-container {
  display: flex;
}

.poke-content {
  position: absolute;
}

.poke-text {

  width: 221px;
  height: 60px;
  left: 132px;
  top: 83px;
}

.msg-avatar-left {
}
