.match-show {
  display: flex;
}

.img-circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 130px;
    align: center;
}

.position {
    display: flex;
    align-content: center;
}

.position_statement {
  margin-top: 20%;
}

.poke-photos {
  margin-top: 55px;
  margin-bottom: 30px;
}

.poke-pending-content {
  text-align: center;
  color: white;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 30px;
}

.good-shot {
  margin: 40px;
  font-weight: 900;
  font-size: 48px;
}

.time {
  font-weight: 900;
  font-size: 64px;

}

.time-text {
  font-weight: 300;
  font-size: 20px;
}

.poke-pending-container {
  display: flex;
}

.center-flex {
  display: flex;
  justify-content: space-around;
}

.poke-pending-poker {
  margin: 30px;
}

.poke-pending-actions {
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  a {
    font-size: 48px;
    color: white;
    &.accept {
      text-shadow: 0px 4px 4px rgba(0, 255, 0, 0.25);
    }
    &.reject {
      text-shadow: 0px 4px 4px rgba(255, 0, 0, 0.25);
    }
  }
  // margin: 30px;
}

.poke-pending-heading {
  margin-top: 30px;
}

.message {
  display: flex;
  margin: 20px 20px 10px 20px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: $white;
      color: $dark-purple;
      opacity: 0.9;
    }
  }
  .avatar-img {
    flex-shrink: 0;
  }
}

.message-content {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  background-color: $light-purple;
  border-radius: 15px;
  color: white;
  margin: 4px 10px;
  padding: 11px 10px 8px 10px;
  // padding: 10px 15px;
}

.back-btn {
  color: white;
  &:hover {
    color: white;
  }
}

