.page-content.messages-page {
  display: flex;
  flex-direction: column;
  max-height: 94vh;
  .pokes-new, .pokes-show {
    &.gradient-background.messenger {
    flex: 0 1 89vh;
    min-height: 0;
    }
  }
}

.pokes-new, .pokes-show {
  &.gradient-background {
  background: linear-gradient(177.13deg, #300773 1.32%, rgba(73, 40, 127, 0.15) 98.68%);
  min-height: calc(100vh - 50px);
  }
}

.pokes-new, .pokes-show {
  &.gradient-background.messenger {
  // min-height: 89vh;
  }
}

.messages-heading {
  padding: 40px;
  position: relative;
  // padding: 15px;
    h3 {
      position: absolute;
      left: 25px;
      top: 20px;
      color: white;
      font-weight: lighter;
      font-variant: all-small-caps;
      letter-spacing: 15px;
    }
    h1 {
      position: absolute;
      right: 25px;
      top: 20px;
    }
}

.message-container {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 20px;
  &.message-me {
    justify-content: flex-end;
  }
  .avatar-container {
    flex: 0 0 auto;
  }
}

.message-text {
  background-color: $light-purple;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: white;
  padding: 15px;
  margin-left: 15px;
}

.message-text-me {
  background-color: $white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: $dark-purple;
  padding: 15px;
  margin-right: 15px;
  opacity: .9;
}

.messaging-container {
  flex: 1 0 auto;
  position: relative;
  text-align: center;
}

.btn-inspire {
  position: absolute;
  right: 15px;
  top: -50px;
}

.textfield-container {
  border-top: 1px solid $light-purple;
  width: 100%;
  background-color: white;
  align-self: center;
}

.m-fixed {
  position: fixed;
  bottom: 20px;
  width: 100%;
}

.messaging-form {
  background-color: $light-gray;
  form {
    display: flex;
    align-items: center;
    padding: 0 20px;
  }

  .message-content {
    border-radius: 15px;
    flex: 1 1 auto;
    font-size: 14px;
    margin: 5px 0;
    padding: 2px 12px;
    max-height: 146px;
  }

  .btn-send {
    color: $purple;
    font-size: 22px;
  }
}


