a:hover {
  text-decoration: none;
}

.pokes-tabs {
  padding-top: 40px;
  margin: 0 40px 30px 40px;
  display: flex;
  justify-content: space-between;
}

.tab {
  border-bottom: 2px solid #9E9E9E;
  margin-right: 5px;
  color: white;
  line-height: normal;
  font-size: 13px;
  color: white;
  // font-weight: bolder;

  &:hover {
    opacity: 0.8;
    color: white;
  }

  &.active {
    color: $teal;
    border-color: $teal;
  }
}

.poke-container {
  display: flex;
  align-items: center;
  color: black;
  padding: 10px;
  margin: 0 20px 15px 20px;
  background-color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  .poke-content {
    margin-left: 10px;
    flex: 1 1 auto;

    .poke-name {
      line-height: normal;
      color: black;
    }

    .poke-body {
      font-style: normal;
      line-height: normal;
      font-size: 13px;
      margin-bottom: 0;
    }
  }

  .poke-time-left {
    font-size: 13px;
    color: black;
    margin-bottom: 0;
    font-weight: bolder;
  }
}

.poke-status {
  i {
    font-size: 30px;
    padding-right: 5px;
    &.accepted {
      text-shadow: 0px 4px 4px rgba(0, 255, 0, 0.25);
    }
    &.rejected {
      text-shadow: 0px 4px 4px rgba(255, 0, 0, 0.25);
    }
  }
}

.sent-pokes, .received-pokes, .connections-pokes {
  display: none;
  &.active {
    display: block;
  }
}


.received-notification {
  color: red;
}

.message-notification {
  color: red;
}
